<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>페이지2</title>
</head>
<body>
    <div>
        <h2 th:text="|${article.id}번 게시물|">번 게시물</h2>
        <div>

            <span th:text="${article.title}"></span>

        </div>
    </div>


    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur debitis eum ex illo ipsam iste, itaque labore laborum maiores molestias neque nihil placeat possimus provident similique sit temporibus vero. Tempore.</div>
</body>
</html>